---
import SITE_INFO from "@/config";
import { getDictionary } from "@/i18n/dictionaries";
import { getLocaleFromPathname } from "@/i18n/routes";
import "./MainHeader.less";

const locale = getLocaleFromPathname(Astro.url.pathname);
const dict = getDictionary(locale);
---

<div class="header-main">
	<div class="avatar">
		<img src="/assets/images/lazy-loading.webp" data-vh-lz-src={SITE_INFO.Avatar} alt="avatar" fetchpriority="high"/>
	</div>
	<h3 class="auther">{SITE_INFO.Author || "-"}</h3>
	<p class="desc" data-typewrite={JSON.stringify(dict.typewrite)}></p>
</div>
